.btn {
  padding: 20px 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: @white-color;
  text-transform: uppercase;

  border: none;
  background-color: #81b3d2;
}
