.field-textarea {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

}
.field-textarea__text {
  flex: 1 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: inherit;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: none;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}
