.form-review {
  // .container-fluid();
  display: flex;
  flex-direction: column;
  margin: 0;

  @media @tablet-widths {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form-review__fieldset {
  flex: 1 100%;
  margin: 0;
  padding: 0 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;


  &:nth-child(1) {
    @media @tablet-widths {
      flex: 1 auto;
      border: none;
    }
  }
  &:nth-child(3) {
    @media @tablet-widths {
      flex: 1 auto;
      order: -1;
      border: none;
    }
  }

}
.form-review__name {
  .align();
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;


  @media @tablet-widths {
  font-size: 21px;
  line-height: 26px;
  }

   &--center {
     @media @tablet-widths {
       text-align: left;
     }
   }
}
.form-review__name span {
  @media @tablet-widths {
    display: none;
  }
  @media @desktop-widths {
    display: inline;
  }
}
.form-review__contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.form-review__error {
  padding-left: 20px;

  color: #ff5c5c;
  text-transform: none;

  &--hidden {
    display: none;
  }
}

.form-review__wrap {
  display: flex;
  flex-direction: column;

  @media @tablet-widths {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    width: 60%;
    margin: 0 auto;
  }

  @media @desktop-widths {
    width: 100%;
    justify-content: space-between;
  }
}
.form-review__wrap .form-review__item {
  @media @tablet-widths {
    width: 50%;
  }
  @media @desktop-widths {
    width: auto;
  }

  &:nth-child(1) {
    @media @tablet-widths {
      order: 1;
    }
  }
  &:nth-child(2) {
    @media @tablet-widths {
      order: 3;
    }
  }
  &:nth-child(3) {
    @media @tablet-widths {
      order: 2;
   }
}
  &:nth-child(4) {
    @media @tablet-widths {
      order: 4;
    }
  }
}


// }
//   .form-review__wrap .form-review__item:nth-child(1) {
//     order: 1;
//   }
//   .form-review__wrap .form-review__item:nth-child(2) {
//     order: 3;
//   }
//   .form-review__wrap .form-review__item:nth-child(3) {
//     order: 2;
//   }
//   .form-review__wrap .form-review__item:nth-child(4) {
//     order: 4;
//   }
// }
// @media @desktop-widths {
// }
