.main-slogan__picture img {
  width: 320px;
  height: 389px;
  background-color: #81b3d2;
}
.main-slogan__content {
  // .container-fluid();
  .align();
  min-height: 70px;
  padding: 40px 30px;
  padding-bottom: 30px;
  line-height: 26px;

  @media @tablet-widths {
    width: 490px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
  }
  @media @desktop-widths {
    padding-top: 40px;
    padding-bottom: 55px;
  }

  &--photo {
    @media @tablet-widths {
      width: 450px;
      padding: 70px 0;
    }

    @media @desktop-widths {
      padding: 100px 0 70px;
    }
  }

  &--big {
    @media @tablet-widths {
      padding-top: 70px;
      padding-bottom: 80px;
    }
    @media @desktop-widths {
      padding: 100px 0 70px;
    }
  }
}

.main-slogan__title {
  font-weight: bold;
  font-size: 18px;
  // line-height: 26px;
  color: #000000;
  margin-bottom: 35px;

  @media @tablet-widths {
    font-size: 30px;
  }

  &--font {
    @media @tablet-widths {
    font-size: 21px;
    }
  }
}
// .main-slogan__picture {
//   background-color: red;
//     // @media @desktop-widths {
//     // .container();
//   // }
// }
.main-slogan__text {
  padding: 0;
  margin: 0;
  // line-height: 26px;

  &--font {
    // line-height: 26px;

    @media @tablet-widths {
    }
  }

}
