.page-footer {
  .container();
  .align();
  margin-top: 35px;
}
.page-footer__contact {
  margin-bottom: 40px;
}
.page-footer__social {
  margin-bottom: 40px;
}
@media @tablet-widths {
  .page-footer {
    .container();
    .clearfix();
  }
  .page-footer__contact {
    width: 33.3%;
    float: left;
    text-align: left;
  }
  .page-footer__social {
    width: 33.3%;
    float: left;
  }
  .page-footer__copyright {
    width: 33.3%;
    float: left;
    text-align: right;
  }
}
@media @desktop-widths {
  .page-footer__contact {
    text-align: center;
  }
  .page-footer__copyright {
    width: 33.3%;
    float: right;
  }
}
