.search-hotel {
  .container();
  .align();
  padding-top: 27px;
  padding-bottom: 50px;

  @media @tablet-widths {
    width: 460px;
    padding: 55px 0px 80px;
  }
  @media @tablet-widths {
    width: 460px;
    padding: 55px 0 70px;
  }
}
